name: RuboCop

on:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

jobs:
  build:
    runs-on: ubuntu-latest
    name: Rubocop
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4'
        bundler-cache: true
    - name: Run the RuboCop
      run: |
        readarray -t CHANGED_FILES < <(
          comm -12 \
            <(git diff --diff-filter=d --name-only "${{ github.event.pull_request.base.sha }}..${{ github.sha }}" | sort || kill $$) \
            <(bundle exec rubocop --list-target-files | sort || kill $$)
        )
        bundle exec rubocop --format github "${CHANGED_FILES[@]}"
